#bg-body-tertiary{
    background-color: white;
}

.brand-icon{
    font-size: 25px;
    margin-bottom: 4px;
}

.nav-link{
    text-decoration: none;
}

#me-auto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}